:root {
   --dark-blue: #1c4595;
   --orange: #e76a24;
   --black: #01080a;
   --gray: #e7e5e8;
   --yellow: #fbbc42;
}

.game-board {
   width: 75%;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap: 3vw;
   place-self: center;
   place-items: center;
}

.game-board li {
   width: 100%;
}

.card {
   width: 100%;
   border: 2vw solid var(--dark-blue);
   border-radius: 5%;
   background-color: rgba(0, 0, 0, 0.25);
   overflow: hidden;
}

.card-image {
   width: auto;
   height: 50vh;
   padding: 1vw;
}

.card-text {
   padding: 1vw 0;
   border-top: 2vw solid var(--dark-blue);
   background-color: var(--orange);
   font-size: clamp(1.5rem, 5vw, 2rem);
}
