.header {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;

   padding: 1vw;
   background-color: var(--dark-blue);
   border-bottom: 1vh solid var(--black);
}

.scores {
   text-align: right;
   font-size: clamp(1.5rem, 2.6vw, 2.1rem);
}

.start-game {
   display: flex;
   flex-direction: column;
   place-self: center;
   gap: 5vh;

   font-size: clamp(1.8rem, 4vw, 3rem);
   text-align: center;
}

@media (min-width: 700px) {
   .start-game {
      width: 75%;
   }
}

@media (min-width: 1200px) {
   .header {
      padding: 1vh 1vw;
   }
}
